default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace


- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    args:
    - --preview


- repo: local
  hooks:

  - id: safety-check
    name: safety check
    entry: bash -c 'poetry export --with=dev --all-extras | poetry run safety check --stdin -i 65232'
    language: system
    files: ^poetry\.lock$

  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types:
    - python
    exclude: ^tests/

  - id: pytest
    name: pytest
    entry: poetry run pytest
    language: system
    pass_filenames: false
    types:
    - python


- repo: https://github.com/python-poetry/poetry
  rev: 1.8.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
    files: ^pyproject\.toml$


- repo: https://github.com/PyCQA/bandit
  rev: 1.7.8
  hooks:
  - id: bandit
    exclude: ^tests/
    args: ["-c", "pyproject.toml"]
    additional_dependencies:
    - bandit[toml]


- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.3.7'
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix
