name: Build & publish container image

on:

  pull_request:

  push:

jobs:

  main:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Construct PEP 440 version identifier
      id: pep_440
      run: echo version=$(git describe --match='version-marker' | sed -e s/version-marker-/0.1.0.dev/ -e s/-g/+git./) >> $GITHUB_OUTPUT
      shell: bash

    - name: Bump version number
      run: poetry version "${{ steps.pep_440.outputs.version }}"
      shell: bash

    - name: Install dependencies
      run: poetry install --with=dev
      shell: bash

    - name: Run unit tests
      run: poetry run pytest --github-report
      shell: bash

    - name: Record build timestamp
      id: rfc_3339
      run: echo date=$(date --rfc-3339=seconds) >> $GITHUB_OUTPUT
      shell: bash

    - name: Build container image
      uses: redhat-actions/buildah-build@v2
      with:
        image: localhost/rsync.net-exporter
        containerfiles: Containerfile
        labels: |
          org.opencontainers.image.created=${{ steps.rfc_3339.outputs.date }}
          org.opencontainers.image.revision=${{ github.sha }}
          org.opencontainers.image.source=${{ github.repositoryUrl }}
          org.opencontainers.image.url=https://github.com/${{ github.repository }}
          org.opencontainers.image.version=${{ steps.pep_440.outputs.version }}

    - name: Run container tests
      run: poetry run pytest --suite=container --github-report
      shell: bash

    - name: Extract base image from image
      id: image_base_ref
      run: echo ref=$(buildah inspect --type=image localhost/rsync.net-exporter | jq '[.History[] | select((.comment // "") | startswith("FROM "))] | first | .comment[5:]' -r) >> $GITHUB_OUTPUT
      shell: bash

    - name: Extract digest from base image
      id: image_base_digest
      run: echo digest=$(buildah inspect --type=image ${{ steps.image_base_ref.outputs.ref }} | jq '.FromImageDigest' -r) >> $GITHUB_OUTPUT
      shell: bash

    - name: Create working container
      run: buildah from --pull=false --name=w localhost/rsync.net-exporter # github's image's buildah is too old to support --pull=never; regardless the use of localhost will also prevent pulling
      shell: bash

    - name: Apply additional image labels
      run: |
        buildah config \
          --label org.opencontainers.image.base.name=${{ steps.image_base_ref.outputs.ref }} \
          --label org.opencontainers.image.base.digest=${{ steps.image_base_digest.outputs.digest }} \
          w
      shell: bash

    - name: Commit working container
      run: buildah commit w ghcr.io/yrro/rsync.net-exporter
      shell: bash

    - name: Push image
      uses: redhat-actions/push-to-registry@v2
      with:
        tags: ghcr.io/yrro/rsync.net-exporter:latest
        username: _ignored_
        password: ${{ secrets.GITHUB_TOKEN }}
      if: github.event_name == 'push' && github.ref == 'refs/heads/main' # NOT a security check!
