name: Build micro container image

on:

  pull_request:

  push:

defaults:
  run:
    shell: bash

jobs:

  micro-1:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Build container image
      run: buildah unshare python build.py

  micro-2:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Build container image
      run: mkdir /tmp/containers && buildah build -v /tmp/containers:/var/lib/containers Containerfile.builder2
...
