name: Run pre-commit hooks

on:

  pull_request:

  push:

defaults:
  run:
    shell: bash

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        cache: poetry
        python-version: '3.9'

    - name: Install Poetry
      uses: snok/install-poetry@v1

    - name: Install dependencies
      run: poetry install --no-interaction --with=dev

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.1
      env:
        SKIP: pip-audit,pytest

    - uses: pre-commit-ci/lite-action@v1.0.2
      if: always()
